
ul li{
    
    background-color:rgb(13,202,240);
    font-size: 20px;

    
  
}
ul{
    border: 1px solid green;
}
ul li:hover{
    background-color: white;
    
    
}
footer{
    margin-bottom: 0%;
    position: fixed;
}
ul li .active{
    background-color: white;
}
.card{
    width: 300px;
    height: 300px;
    justify-content: space-evenly;
    
    border-radius: 4px;
    border: 1px solid rgb(13,202,240);
    border-color: rgb(13,202,240);
    flex-direction: row;
    
}
.d-flex{
    flex-direction: row;
    float: left;
}
.card:hover{
    border: 2px solid rgb(13, 240, 32);

   
}


